@import "tailwindcss";

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --primary: #fad000;
  --default: #1e1e3f;
  --contrast: #191830;
  --highlight: #a599e9;
  --terminal-background: #1e1e3f;
  --terminal-foreground: #ffffff;
  --terminal-black: #000000;
  --terminal-red: #ec3a37f5;
  --terminal-green: #3ad900;
  --terminal-yellow: #fad000;
  --terminal-blue: #7857fe;
  --terminal-magenta: #ff2c70;
  --terminal-cyan: #80fcff;
  --terminal-white: #ffffff;
}

@layer components {
  .caption {
    font-size: 24pt;
  }
  b,
  em {
    @apply text-(--primary);
  }
  ul {
    li {
      @apply py-2;
    }

    em {
      @apply animate-pulse !not-italic;
    }
  }
  .browser {
    .example {
      @apply text-left;
      h1 {
        @apply !m-0 !p-0 !text-xl !text-(--primary);
      }
      span {
        @apply flex items-center gap-2;
      }
      button {
        @apply !font-bold !text-(--highlight) hover:!text-(--primary);
        @apply !border-2 !border-(--highlight) outline-0 hover:!border-(--primary);
        @apply !bg-(--default);
        @apply rounded-lg p-2;
        @apply flex items-center justify-center gap-4;
        svg {
          width: 1em;
          height: 1em;
        }
      }
      input {
        @apply border-b-2 outline-0;
        @apply pb-0.25;
        @apply border-b-(--highlight) hover:border-(--primary) focus:border-(--primary);
      }
      footer {
        @apply mt-5 max-w-3xs text-left;
      }
      form {
        @apply max-w-3xs;
        @apply flex flex-col gap-6;
        & > div {
          @apply flex gap-4;
        }
      }
    }
  }
}
